---
layout: home-page
title: CV
permalink: /cv/

---

<div class="small-wrapper">
    <div class="about-container">
      <section class="about-header">
        <div class="author-image-container-bigger">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic-professional %}{{site.author-pic-professional}}{% endif %}" alt="{{site.author}}">
        </div>
        <p class="subtitle">My name is Vincent von Appen. Currently I'm a master student at Technical University of Munich studying "Robotics, Cognition, Intelligence". I have completed my Bachelor of Engineering in Mechatronics at the University of Southern Denmark. I'm interested in robotics, automation, autonomous vehicles, control systems, FPGA's, neural networks and artificial intelligence.<br>
        </p>
        <p ></p>
        <p> Down below you will find my CV:</p>
        <li class="inline-block">
          <a
            target="_blank"
            class="align-middle link-primary mr-2 mr-lg-0 ml-lg-2"
            href="/assets/pdf/2021_Lebenslauf.pdf"
            >German</a
          >
        </li>
        <li class="inline-block">
          <a
            target="_blank"
            class="align-middle link-primary mr-2 mr-lg-0 ml-lg-2"
            href="/assets/pdf/2021_Lebenslauf.pdf"
            >English</a
          >
      </li>
      </section>
      <section class="about-body">
        <ul class="contact-list">
          {% if site.email %}
            <li class="email"><a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
          {% endif %}
          {% if site.website %}
            <li class="website"><a href="http://{{site.website}}" target="_blank"><i class="fa fa-globe"></i></a></li>
          {% endif %}
          {% if site.twitter %}
            <li class="twitter"><a href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
          {% endif %}
          {% if site.github %}
            <li class="github"><a href="http://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
          {% endif %}
        </ul>
      </section>
    </div> <!-- End About Container -->
  </div> <!-- End Small Wrapper -->